In [51]:
# indexing 
# list within a list
# list sliicing
# len function in a list
# changing values using index
# list concatenation and replication
# del function
# in and not in a list
# using for loop 
# appending a list
# enumerate
# multiple assynment tricks
# argumented assynment operator
# inndex method
# insert
# sort
# sorted 
# extend
# pop
# remove
# reerse in a list
# using list with the range

In [3]:
list_names = ['diana' ,'caro', 'mercy', 'wangui' ,'salome','wahu', 'grace' ]
print(list_names)
list_numbers = [23, 30, 32, 45, 60, 39, 20, 34, 60, 80, 100, 160]
print(list_numbers[6])

['diana', 'caro', 'mercy', 'wangui', 'salome', 'wahu', 'grace']
20

In [38]:
# indexing actual names
print(list_names[5])
print(int(list_numbers[6]))

#indexinng  letter within the name which is not applicable with the numbers 
print(list_names[5][2])

#negative index
print(list_names[-3])

wahu
20
h
salome

In [39]:
# list within a list

names_numbers = [['diana' ,'caro', 'mercy', 'wangui' ,'salome','wahu', 'grace' ],[23, 30, 32, 45, 60, 39, 20, 34, 60, 80, 100, 160] ]
print(names_numbers)
print('')
print(names_numbers[0])   #printing the first list within a list
print('')
print(names_numbers[0][4])     #printing the item in the 4th index of the first list
print('')
print(names_numbers[0][4][3])   #printing alphabet in the third porsition 4th index first list

[['diana', 'caro', 'mercy', 'wangui', 'salome', 'wahu', 'grace'], [23, 30, 32, 45, 60, 39, 20, 34, 60, 80, 100, 160]]

['diana', 'caro', 'mercy', 'wangui', 'salome', 'wahu', 'grace']

salome

o

In [29]:
# list sliicing
list_names = ['diana' ,'caro', 'mercy', 'wangui' ,'salome','wahu', 'grace' ]
print(list_names[2:])
print(list_names[::-1])  #reversing a sring using neegative indices
list_numbers = [23, 30, 32, 45, 60, 39, 20, 34, 60, 80, 100, 160]
print(list_numbers[3:7])

['mercy', 'wangui', 'salome', 'wahu', 'grace']
['grace', 'wahu', 'salome', 'wangui', 'mercy', 'caro', 'diana']
[45, 60, 39, 20]

In [33]:
# len function in a list
print(len(list_names))
print(len(list_numbers))

7
12

In [35]:
# changing values using index
list_names[4] = 'james'
print(list_names)

['diana', 'caro', 'mercy', 'wangui', 'james', 'wahu', 'grace']

In [46]:
# list concatenation 
list_names1 = ['jay','jose','dus','pato']
concat = list_names + list_names1
print(concat)

print('')
# list replication
rep = list_names1 * 4
print(rep)

['diana', 'caro', 'mercy', 'wangui', 'salome', 'wahu', 'grace', 'jay', 'jose', 'dus', 'pato']

['jay', 'jose', 'dus', 'pato', 'jay', 'jose', 'dus', 'pato', 'jay', 'jose', 'dus', 'pato', 'jay', 'jose', 'dus', 'pato']

In [50]:
# del function

del(list_names[4])
print(list_names)

['diana', 'caro', 'mercy', 'wangui', 'grace']

In [55]:
# in and not in using a list

mercy = 'mercy' in list_names
james = 'james' not in list_names
print(mercy)
print(james)

True
True

In [56]:
# using for loop 

for values in list_names:
    print(values)

diana
caro
mercy
wangui
grace

In [58]:
# appending -- this works together with the for loop to work with different items in different lists
names = []
for values in list_names:
    names.append(values)
print(names)

['diana', 'caro', 'mercy', 'wangui', 'grace']

In [60]:
# list enumaration  / printing index and their values in a list
for index, values in enumerate(list_names):
    print(index, values)

0 diana
1 caro
2 mercy
3 wangui
4 grace

In [50]:
#multiple asynment using indices
#nb you only assyn to the available index
list_names[3], list_names[4] = 'salome', 'wahu'
print(list_names)

['wangui', 'wahu', 'salome', 'salome', 'wahu', 'lucy', 'lucy', 'joy', 'grace', 'diana']

In [5]:
#index function
index = list_names.index('salome')
print(f'the index of salome is: {index}')

the index of salome is: 4

In [9]:
#insert function
list_names.insert(7 , 'joy')
print(list_names)

['diana', 'caro', 'mercy', 'wangui', 'salome', 'wahu', 'grace', 'joy']

In [43]:
# sort/reverse
list_names.sort()
list_desc = list_names
list_desc.sort(reverse = True)
print(list_names)
print(list_desc)

#sorted
print(sorted(list_names))

['wangui', 'wahu', 'salome', 'mercy', 'lucy', 'lucy', 'joy', 'grace', 'diana', 'caro']
['wangui', 'wahu', 'salome', 'mercy', 'lucy', 'lucy', 'joy', 'grace', 'diana', 'caro']
['caro', 'diana', 'grace', 'joy', 'lucy', 'lucy', 'mercy', 'salome', 'wahu', 'wangui']

In [41]:
# extend
list_names.extend(['lucy'])
print(list_names)

['wangui', 'wahu', 'salome', 'mercy', 'lucy', 'joy', 'grace', 'diana', 'caro', 'lucy']

In [44]:
#pop
list_names.pop()
print(list_names)

['wangui', 'wahu', 'salome', 'mercy', 'lucy', 'lucy', 'joy', 'grace', 'diana']

In [45]:
#insert
list_names.insert(3, 'ruth')
print(list_names)

['wangui', 'wahu', 'salome', 'ruth', 'mercy', 'lucy', 'lucy', 'joy', 'grace', 'diana']

In [49]:
#using range with a list
print(list(range(0,10,2)))

[0, 2, 4, 6, 8]